<div class="col-md-4">
  <div class="card">
    <div class="additional">
      <div class="user-card">
        <div class="level center">
          Developer
        </div>
        <div class="points center">
          Kristen De La Rosa
        </div>
        <svg width="110" height="110" viewBox="0 0 250 250" xmlns="http://www.w3.org/2000/svg" role="img"
          aria-labelledby="title desc" class="center">
          <title id="title">Teacher</title>
          <desc id="desc">Cartoon of a Caucasian woman smiling, and wearing black glasses and a purple shirt with
            white collar drawn by Alvaro Montoro. Adjusted: Made hair thicker, longer. Removed glasses</desc>
          <style>
            .skin {
              fill: #eab38f;
            }

            .eyes {
              fill: #1f1f1f;
            }

            .hair {
              fill: #2f1b0d;
            }

            .line {
              fill: none;
              stroke: #2f1b0d;
              stroke-width: 2px;
            }
          </style>
          <defs>
            <clipPath id="scene">
              <circle cx="125" cy="125" r="115" />
            </clipPath>
            <clipPath id="lips">
              <path d="M 106,132 C 113,127 125,128 125,132 125,128 137,127 144,132 141,142  134,146  125,146  116,146 109,142 106,132 Z" />
            </clipPath>
          </defs>
          <circle cx="125" cy="125" r="120" fill="rgba(0,0,0,0.15)" />
          <g stroke="none" stroke-width="0" clip-path="url(#scene)">
            <rect x="0" y="0" width="250" height="250" fill="#b0d2e5" />
            <g id="head">
              <path fill="none" stroke="#111111" stroke-width="2" d="M 68,103 83,103.5" />

              <path class="hair" d="M 61,90 61,190 78,185 89,190 100,185 112,185 125,190 138,185 150,190 161,185 172,190 188,185 188,90 Z" />

              <circle cx="125" cy="100" r="55" class="skin" />
              <ellipse cx="102" cy="107" rx="5" ry="5" class="eyes" id="eye-left" />
              <ellipse cx="148" cy="107" rx="5" ry="5" class="eyes" id="eye-right" />
              <rect x="119" y="140" width="12" height="40" class="skin" />
              <path class="line eyebrow" d="M 90,98 C 93,90 103,89 110,94" id="eyebrow-left" />
              <path class="line eyebrow" d="M 160,98 C 157,90 147,89 140,94" id="eyebrow-right" />
              {{!--
              <path stroke="#111111" stroke-width="4" d="M 68,103 83,102.5" />
              <path stroke="#111111" stroke-width="4" d="M 182,103 167,102.5" /> --}}
              {{!--
              <path stroke="#050505" stroke-width="3" fill="none" d="M 119,102 C 123,99 127,99 131,102" /> --}}
              <path fill="#050505" d="M 92,97 C 85,97 79,98 80,101 81,104 84,104 85,102" />
              <path fill="#050505" d="M 158,97 C 165,97 171,98 170,101 169,104 166,104 165,102" />
              {{!--
              <path stroke="#050505" stroke-width="3" fill="rgba(240,240,255,0.4)" d="M 119,102 C 118,111 115,119 98,117 85,115 84,108 84,104 84,97 94,96 105,97 112,98 117,98 119,102 Z" />
              <path stroke="#050505" stroke-width="3" fill="rgba(240,240,255,0.4)" d="M 131,102 C 132,111 135,119 152,117 165,115 166,108 166,104 166,97 156,96 145,97 138,98 133,98 131,102 Z" />
              --}}
              <path class="hair" d="M 60,109 C 59,39 118,40 129,40 139,40 187,43 189,99 135,98 115,67 115,67 108,90  86,101
                      65,108 60,109" />
              {{!-- 129,40 139,40 right side bang straight


              80,109 86,101


              M 60,109 C 59,39 118,40 129,40 139,40 187,43 189,99 135,98 115,67 115,67 115,67 108,90 80,109 86,101
              91,92 92,87 85,99 65,108 60,109--}}
              <path id="mouth" fill="#d73e3e" d="M 106,132 C 113,127 125,128 125,132 125,128 137,127 144,132 141,142  134,146  125,146  116,146 109,142 106,132 Z" />
              <path id="smile" fill="white" d="M125,141 C 140,141 143,132 143,132 143,132 125,133 125,133 125,133 106.5,132 106.5,132 106.5,132 110,141 125,141 Z"
                clip-path="url(#lips)" />
            </g>
            <g id="shirt">
              <path fill="#8665c2" d="M 132,170 C 146,170 154,200 154,200 154,200 158,250 158,250 158,250 92,250 92,250 92,250 96,200 96,200 96,200 104,170 118,170 118,170 125,172 125,172 125,172 132,170 132,170 Z" />
              <path id="arm-left" class="arm" stroke="#8665c2" fill="none" stroke-width="14" d="M 118,178 C 94,179 66,220 65,254" />
              <path id="arm-right" class="arm" stroke="#8665c2" fill="none" stroke-width="14" d="M 132,178 C 156,179 184,220 185,254" />
              <path fill="white" d="M 117,166 C 117,166 125,172 125,172 125,182 115,182 109,170 Z" />
              <path fill="white" d="M 133,166 C 133,166 125,172 125,172 125,182 135,182 141,170 Z" />
              <circle cx="125" cy="188" r="4" fill="#5a487b" />
              <circle cx="125" cy="202" r="4" fill="#5a487b" />
              <circle cx="125" cy="216" r="4" fill="#5a487b" />
              <circle cx="125" cy="230" r="4" fill="#5a487b" />
              <circle cx="125" cy="244" r="4" fill="#5a487b" />
              <path stroke="#daa37f" stroke-width="1" class="skin hand" id="hand-left" d="M 51,270 C 46,263 60,243 63,246 65,247 66,248 61,255 72,243 76,238 79,240 82,243 72,254 69,257 72,254 82,241 86,244 89,247 75,261 73,263 77,258 84,251 86,253 89,256 70,287 59,278" />
              <path stroke="#daa37f" stroke-width="1" class="skin hand" id="hand-right" d="M 199,270 C 204,263 190,243 187,246 185,247 184,248 189,255 178,243 174,238 171,240 168,243 178,254 181,257 178,254 168,241 164,244 161,247 175,261 177,263 173,258 166,251 164,253 161,256 180,287 191,278" />
            </g>
          </g>
        </svg>
      </div>
      <div class="more-info">
        <h1>Kristen De La Rosa</h1>
        <div class="coords">
          <p>Full Stack Developer</p>
          <p>Last Updated: June 25, 2020</p>
        </div>
        {{!-- <div class="coords">
          <span>Contact me</span>
          <span>Contact me with any questions using the below links.
          </span>
        </div> --}}
        <div class="row stats">
          <div>
            <div class="title">LinkedIn</div>
            <a href="https://www.linkedin.com/in/kris10-de-la-rosa/">
              <img src="https://img.icons8.com/ultraviolet/48/000000/linkedin-circled.png" /></a>
            {{!-- <div class="value">2</div> --}}
          </div>
          <div>
            <div class="title">Email</div>
            <a href="mailto: delarosa.kristen@gmail.com">
              <img src="https://img.icons8.com/dusk/48/000000/filled-message.png" /></a>
            {{!-- <div class="value">27</div> --}}
          </div>
        </div>
        <div class="row stats">
          <div>
            <div class="title">Portfolio</div>
            <a href="https://kristendlr.github.io/updatedPortfolio/">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 172 172"
                style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
                  stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
                  font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                  <path d="M0,172v-172h172v172z" fill="none" stroke="none"></path>
                  <g>
                    <path d="M23.65,6.45h124.7v159.1h-124.7z" fill="#ffffff" stroke="none"></path>
                    <path d="M146.2,8.6v154.8h-120.4v-154.8h120.4M150.5,4.3h-129v163.4h129v-163.4z" fill="#788b9c"
                      stroke="none"></path>
                    <path d="M98.9,49.45h25.8M98.9,66.65h25.8M98.9,83.85h25.8M47.3,101.05h77.4M47.3,118.25h77.4M47.3,135.45h77.4"
                      fill="none" stroke="#c5d4de"></path>
                    <path d="M68.8,36.55c-5.93706,0 -10.75,4.81294 -10.75,10.75c0,5.93706 4.81294,10.75 10.75,10.75c5.93706,0 10.75,-4.81294 10.75,-10.75c0,-5.93706 -4.81294,-10.75 -10.75,-10.75z"
                      fill="#ffeea3" stroke="none"></path>
                    <path d="M68.8,38.7c4.7429,0 8.6,3.8571 8.6,8.6c0,4.7429 -3.8571,8.6 -8.6,8.6c-4.7429,0 -8.6,-3.8571 -8.6,-8.6c0,-4.7429 3.8571,-8.6 8.6,-8.6M68.8,34.4c-7.1251,0 -12.9,5.7749 -12.9,12.9c0,7.1251 5.7749,12.9 12.9,12.9c7.1251,0 12.9,-5.7749 12.9,-12.9c0,-7.1251 -5.7749,-12.9 -12.9,-12.9z"
                      fill="#ba9b48" stroke="none"></path>
                    <g stroke="none">
                      <path d="M49.5704,83.85c1.075,-9.6621 9.288,-17.2 19.2296,-17.2c9.9416,0 18.1589,7.5379 19.2296,17.2z"
                        fill="#c2e8ff"></path>
                      <path d="M68.8,68.8c7.998,0 14.7404,5.4911 16.6539,12.9h-33.3121c1.9178,-7.4089 8.6602,-12.9 16.6582,-12.9M68.8,64.5c-11.8723,0 -21.5,9.6277 -21.5,21.5h43c0,-11.8723 -9.6277,-21.5 -21.5,-21.5z"
                        fill="#7496c4"></path>
                    </g>
                  </g>
                </g>
              </svg>
            </a>
            {{!-- <div class="value">123</div> --}}
          </div>
          <div>
            <div class="title">Github</div>
            <a href="https://github.com/KristenDLR/burger"><img src="https://img.icons8.com/color/48/000000/github--v1.png"></a>
            </svg>
            {{!-- <div class="value infinity">∞</div> --}}
          </div>
        </div>
      </div>
    </div>
    <div class="general">
      <h1>Details:</h1>
      <p>Add Burgers to the list and press the Devour button to eat them up. This app uses Sequelize queries.
        Burger's are devoured by carrying a default value of false. Yum Yum Burger is a restaurant app that lets
        users input the names of burgers you would like to eat.

        Whenever a user submits a burger's name, your app will display the burger on the left side of the page --
        waiting to be devoured.
        Each burger in the waiting area also has a Devour it! button. When the user clicks it, the burger will
        move to the right side of the page.
        Your app will store every burger in a database, whether devoured or not.
        This application uses handlebars to efficiently generate HTML using expressions.
      </p>
      <span class="more">Mouse over the card for more info</span>
    </div>
  </div>
</div>
