<div class="row top">
  {{!-- <div class="col-md-4"> --}}
    <div id="titleYum">
      <p><a href="https://kristendlr.github.io/updatedPortfolio/">
          Yum Yum
        </a></p>
    </div>
    <div id="titleBurger">
      <p><a href="https://kristendlr.github.io/updatedPortfolio/">
          Burger!
        </a></p>
    <div class="col-md-4">
    <div id="plate">
      <div id="2burger">
        <div class="twoBun"></div>
        <div class="twoOnion"></div>
        <div class="twoCheese"></div>
        <div class="twoLettuce"></div>
        <div class="twoTomato"></div>
        <div class="twoMeat"></div>
        <div class="twoBun2"></div>
      </div>
      <div class="plate"></div>
      <br>
    </div>
  </div>
    </div>
