<div class="col-md-4">
  <div id="oven">
    <div id="burger">
      <div class="bun"></div>
      <div class="onion"></div>
      <div class="cheese"></div>
      <div class="lettuce"></div>
      <div class="tomato"></div>
      <div class="meat"></div>
      <div class="bun2"></div>
    </div>
  </div>
</div>
