<h1>Burgers!</h1>

<h2>Burgers to devoured!</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{> burger/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burger/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<form>
  <div class="form-group">
    <label for="addBurger">What type of Burger do you want?</label>
    <input type="addBurger" class="form-control" id="burgerNew" aria-describedby="emailHelp" placeholder="What kind of Burger would you like?">
    <small id="addEat" class="form-text text-muted">Add and Eat</small>
  </div>

  <button type="submit" class="addBurger btn btn-primary">ADD BURGER!</button>
</form>
