/* card */
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

html, body h2, ul {
  /* background: #FCEEB5; */
  font-family: Abel, Arial, Verdana, sans-serif;
}

/* .center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
} */

.card {
  width: 350px;
  height: 400px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  /* position: relative; */
  /* margin: 1.5rem; */
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(#dE685E, rgb(165, 108, 190));
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

/* .card.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
} */


.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  width: 110px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);*/
}

.card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .additional .user-card .points {
  top: 85%;
}

.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info {
  width: 200px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: bold;
}

/* .card.green .additional .more-info h1 {
  color: #224C36;
} */

.card .additional .coords p{
  /* margin: 0 1rem; */
  color: #fff;
  font-size: 10px;

}

/* .card.green .additional .coords {
  color: #325C46;
} */

/* .card .additional .coords span + span {
  /* float: right; }*/


.card .additional .stats {
  font-size: 10px;
  display: flex;
  position: relative;
  /* bottom: 10px; */
  left: 10px;
  /* right: 10px; */
  /* top: auto; */
  color: #fff;
}

/* .card.green .additional .stats {
  color: #325C46;
} */

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 10px;
  font-weight: bold;
  line-height: 1.5rem;
}

/* .card .additional .stats div.value.infinity {
  font-size: 2.5rem;
} */

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;

}

.card .general h1{
  font-size:14px;
  left:20%;
}

.general p{
  font-size: 11px;
  margin-left:60px;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 10px;
}

/* css */
.container{
  margin: 10px;
}

body {
  background-color: #ffccd3 !important;
}

#burgersAdded ul {
  background: #3399ff;
  padding: 20px;
  margin-right: 20px;

}

#burgersAdded ul li {
  background: #cce5ff;
  margin: 5px;
  list-style-type: none;
}

#beenDevoured{
  padding: 10px;
  border-color:#32c704;
  background-color: #c6ebbb;
  border-style: solid;
  border-width: 5px;


}

#burger{
  display:inline-block;
  margin-top: 215px;
  margin-left: 145px;

  opacity: 0.25;

}
.bun {
  margin-bottom:3px;
  margin-left: 20px;
  width: 45px;
  height: 15px;
  /* top: 92px; */
  /* left: 50%; */
  background-color: #AB7A49;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
}

.onion {

  margin-bottom:3px;
  margin-left: 22px;
  width: 40px;
  height: 7px;
  /* top: 152px;
  left: 160px; */
  background-color: #822E81;
  border-radius: 50px;
}


.cheese {
  margin-bottom:3px;
  margin-left: 22px;
  width: 38px;
  height: 7px;
  top: 165px;
  left: 155px;
  background-color: #e6af00;
  border-radius: 50px;
}

.tomato {
  margin-bottom:3px;
  margin-left: 22px;
  width: 38px;
  height: 7px;
  top: 190px;
  left: 160px;
  background-color: #ec3521;
  border-radius: 50px;
}

.lettuce {
  margin-bottom:3px;
  margin-left: 22px;
  width: 42px;
  height: 3px;
  top: 183px;
  left: 155px;
  background-color: #32c704;
  border-radius: 50px;
}

.meat {
  margin-bottom:3px;
  margin-left: 22px;
  width: 40px;
  height: 12px;
  top: 203px;
  left: 155px;
  background-color: #450101;
  border-radius: 50px;
}

.bun2 {
  margin-bottom:3px;
  margin-left: 20px;
  width: 45px;
  height: 15px;
  top: 92px;
  left: 150px;
  background-color: #AB7A49;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.plate {
  margin-top:200px;
  width: 175px;
  height: 10px;
  bottom: 0;
  /* top: 255px; */
  /* left: 100px; */
  background-color: #99ffc3;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

/* #burgersAdded{
  z-index: 1;
  position:relative;
 margin: 20px;
 border-color:rgb(21, 116, 21);
} */
h2{

}
button {
  display: inline-block;
  border: none;
  padding: .5rem 2rem;
  margin: 0;
  align-items: flex;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.addburger{
  margin:50px;
}

#oven{
  content:"";
  background-image: url(../img/oven.png);
  background-repeat: no-repeat;
  background-size: 300px 325px;
  background-position: center bottom;
  z-index: -1;
  /* opacity: .5; */
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.top{
  min-height: 325px;
}


/*burger on plate*/
.twoBun {
  position: relative;
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
  margin-bottom:3px;
  margin-left: 20px;
  width: 135px;
  height: 40px;
  /* top: 92px; */
  left: 0px;
  background-color: #AB7A49;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
}

.twoOnion {
  position: relative;
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
  margin-bottom:3px;
  margin-left: 22px;
  width: 120px;
  height: 15px;
  /* top: 152px;*/
  left: 5px;
  background-color: #822E81;
  border-radius: 50px;
}


.twoCheese {
  position: relative;
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
  margin-bottom:3px;
  margin-left: 22px;
  width: 120px;
  height: 19px;
  top: 165px;
  left: 5px;
  background-color: #e6af00;
  border-radius: 50px;
}

.twoTomato {
  position: relative;
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
  margin-bottom:3px;
  margin-left: 22px;
  width: 120px;
  height: 15px;
  /* top: 152px;*/
  left: 5px;
  top: 190px;
  background-color: #ec3521;
  border-radius: 50px;
}

.twoLettuce {
  position: relative;
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
  margin-bottom:3px;
  margin-left: 22px;
  width: 130px;
  height: 5px;
  top: 183px;
  left: 0px;
  background-color: #32c704;
  border-radius: 50px;
}

.twoMeat {
  position: relative;
  -webkit-animation: mymove 5s infinite;
  animation: mymove 5s infinite;
  margin-bottom:3px;
  margin-left: 22px;
  width: 120px;
  height: 30px;
  top: 203px;
  left: 5px;
  background-color: #450101;
  border-radius: 50px;
}

.twoBun2 {
  position: relative;
  -webkit-animation: mymove 5s infinite;
  animation: mymove 5s infinite;
  margin-bottom:3px;
  margin-left: 20px;
  width: 135px;
  height: 30px;
  top: 92px;
  left: 0px;
  background-color: #AB7A49;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}


@keyframes mymove {
  from {top: 0px;}
  to {top: 200px;}
}

/*form*/
form{
  margin-top:10px;
}
/*title*/
/*Neon*/
#titleYum p {
  text-align: center;
  font-size: 7em;
  margin: 20px 0 20px 0;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
/*outer glow for YumYum*/
#titleYum a {
  color: #fff;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}
/*Burger*/

#titleYum{
  -ms-transform: rotate(-15deg); /* IE 9 */
  -webkit-transform: rotate(-15deg); /* Safari prior 9.0 */
  transform: rotate(-15deg); /* Standard syntax */
}

/* #titleBurger a:hover {
  color: #FF1177;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  font-family: 'Monoton', cursive;
} */

#titleBurger a {
  color: #FF1177;
  font-family: Monoton;
  font-size: 50px;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
  z-index:2;
  position: absolute;
  top:30%;
  /* right:0; */

}

/* #titleBurger a:hover {
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
} */

#titleYum a {
  color: #FFDD1B;
  font-family: Pacifico;
  z-index: 1;
  font-size: 80px;
  position: relative;
  top: 0;
  left:0;

}

/* #titleBurger a:hover {
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
} */



p a:hover {
  color: #ffffff;
}
/*glow for webkit*/

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}



@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

/*glow for mozilla*/

@-moz-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}


@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}
/*glow*/

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}


@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

/*REEEEEEEEEEESPONSIVE*/

@media (max-width: 650px) {
  #container {
    width: 100%;
  }
  p {
    font-size: 3.5em;
  }
}
@media screen and (max-width: 1080px){
  #oven{
    opacity: .5;
  }
}

/*google fonts*/

/* font-family: 'Pacifico', cursive;
font-family: 'Monoton', cursive;
font-family: 'Audiowide', cursive; */
