.container{
  margin: 10px;
}

body {
  background-color: #ffccd3 !important;
}

#beenDevoured{
  padding: 10px;
  border-color:#32c704;
  border-style: solid;
  border-width: 5px;


}

#burger{
  display:inline-block;
  margin-top: 215px;
  margin-left: 145px;

  opacity: 0.25;

}
.bun {
  margin-bottom:3px;
  margin-left: 20px;
  width: 45px;
  height: 15px;
  /* top: 92px; */
  /* left: 50%; */
  background-color: #AB7A49;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
}

.onion {

  margin-bottom:3px;
  margin-left: 22px;
  width: 40px;
  height: 7px;
  /* top: 152px;
  left: 160px; */
  background-color: #822E81;
  border-radius: 50px;
}


.cheese {
  margin-bottom:3px;
  margin-left: 22px;
  width: 38px;
  height: 7px;
  top: 165px;
  left: 155px;
  background-color: #e6af00;
  border-radius: 50px;
}

.tomato {
  margin-bottom:3px;
  margin-left: 22px;
  width: 38px;
  height: 7px;
  top: 190px;
  left: 160px;
  background-color: #ec3521;
  border-radius: 50px;
}

.lettuce {
  margin-bottom:3px;
  margin-left: 22px;
  width: 42px;
  height: 3px;
  top: 183px;
  left: 155px;
  background-color: #32c704;
  border-radius: 50px;
}

.meat {
  margin-bottom:3px;
  margin-left: 22px;
  width: 40px;
  height: 12px;
  top: 203px;
  left: 155px;
  background-color: #450101;
  border-radius: 50px;
}

.bun2 {
  margin-bottom:3px;
  margin-left: 20px;
  width: 45px;
  height: 15px;
  top: 92px;
  left: 150px;
  background-color: #AB7A49;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.plate {
  margin-top:200px;
  width: 175px;
  height: 10px;
  bottom: 0;
  /* top: 255px; */
  /* left: 100px; */
  background-color: #99ffc3;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

/* #burgersAdded{
  z-index: 1;
  position:relative;
 margin: 20px;
 border-color:rgb(21, 116, 21);
} */
.addburger{
  margin:50px;
}

#oven{
  content:"";
  background-image: url(../img/oven.png);
  background-repeat: no-repeat;
  background-size: 300px 325px;
  background-position: center bottom;
  z-index: -1;
  /* opacity: .5; */
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.top{
  min-height: 325px;
}


/*burger on plate*/
.twoBun {
  position: relative;
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
  margin-bottom:3px;
  margin-left: 20px;
  width: 135px;
  height: 40px;
  /* top: 92px; */
  left: 0px;
  background-color: #AB7A49;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
}

.twoOnion {
  position: relative;
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
  margin-bottom:3px;
  margin-left: 22px;
  width: 120px;
  height: 15px;
  /* top: 152px;*/
  left: 5px;
  background-color: #822E81;
  border-radius: 50px;
}


.twoCheese {
  position: relative;
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
  margin-bottom:3px;
  margin-left: 22px;
  width: 120px;
  height: 19px;
  top: 165px;
  left: 5px;
  background-color: #e6af00;
  border-radius: 50px;
}

.twoTomato {
  position: relative;
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
  margin-bottom:3px;
  margin-left: 22px;
  width: 120px;
  height: 15px;
  /* top: 152px;*/
  left: 5px;
  top: 190px;
  background-color: #ec3521;
  border-radius: 50px;
}

.twoLettuce {
  position: relative;
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
  margin-bottom:3px;
  margin-left: 22px;
  width: 130px;
  height: 5px;
  top: 183px;
  left: 0px;
  background-color: #32c704;
  border-radius: 50px;
}

.twoMeat {
  position: relative;
  -webkit-animation: mymove 5s infinite;
  animation: mymove 5s infinite;
  margin-bottom:3px;
  margin-left: 22px;
  width: 120px;
  height: 30px;
  top: 203px;
  left: 5px;
  background-color: #450101;
  border-radius: 50px;
}

.twoBun2 {
  position: relative;
  -webkit-animation: mymove 5s infinite;
  animation: mymove 5s infinite;
  margin-bottom:3px;
  margin-left: 20px;
  width: 135px;
  height: 30px;
  top: 92px;
  left: 0px;
  background-color: #AB7A49;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}


@keyframes mymove {
  from {top: 0px;}
  to {top: 200px;}
}

/*form*/
form{
  margin-top:10px;
}
/*title*/
/*Neon*/
p {
  text-align: center;
  font-size: 7em;
  margin: 20px 0 20px 0;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
/*outer glow for YumYum*/
#titleYum a {
  color: #fff;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}
/*Burger*/

#titleYum{
  -ms-transform: rotate(-15deg); /* IE 9 */
  -webkit-transform: rotate(-15deg); /* Safari prior 9.0 */
  transform: rotate(-15deg); /* Standard syntax */
}

#titleBurger a:hover {
  color: #FF1177;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  font-family: 'Monoton', cursive;
}

#titleBurger a {
  color: #FF1177;
  font-family: Monoton;
  font-size: 50px;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
  z-index:2;
  position: absolute;
  top:30%;
  right:0;

}

#titleBurger a:hover {
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

#titleYum a {
  color: #FFDD1B;
  font-family: Pacifico;
  z-index: 1;
  font-size: 80px;
  position: relative;
  top: 0;
  left:0;

}

#titleBurger a:hover {
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
}



p a:hover {
  color: #ffffff;
}
/*glow for webkit*/

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}



@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

/*glow for mozilla*/

@-moz-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}


@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}
/*glow*/

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}


@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

/*REEEEEEEEEEESPONSIVE*/

@media (max-width: 650px) {
  #container {
    width: 100%;
  }
  p {
    font-size: 3.5em;
  }
}

/*google fonts*/

/* font-family: 'Pacifico', cursive;
font-family: 'Monoton', cursive;
font-family: 'Audiowide', cursive; */
